

#textBox{
    width: 300px;
    border: 2px solid black;
}

.buttons{
    color: black;
    background-color: red;
    border-radius: 1em;
}


.weatherContainer{

width: 50%;
border: 2px solid black;
}

.searchBox{
    display: flex;
    align-items: center;

}